@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

body {
  background: rgb(224, 206, 206);
  padding: 20px;
  display: flex;

  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  padding: 0;
  box-sizing: border-box;
}
/* 
.container {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.shoe-img {
  width: 200px;
  display: block;
}
.nike-shoe {
  font-weight: 600;
  margin-bottom: 5px;
}
.purchase-btn {
  background: white;
  color: black;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

#error {
  color: red;
  font-weight: 200;
}

span {
  border-bottom: 2px solid black;
  padding: 4px;
}

.btn {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
}
